#main{
display:grid;
grid-template-columns: 1fr 1fr;
grid-column-gap: 1em;
grid-row-gap: 1em;
grid-auto-rows: minmax(100px, auto);



}
.child{
color:white;
background-color:orange;
padding:1em;
}
.child:nth-child(odd){
	background-color:lightgray;
}

.child:nth-child(1){
	grid-column: 1/3;

}
.child:nth-child(5){

}
h1{
	border: 2px solid red;
	background-color:brown; 
}
h2{
border: 2px solid red;
background-color:purple; 	
}
h3{
border: 2px solid red;
background-color:black; 
}
h4{
border: 2px solid red;
background-color:purple; 
}
h5{
border: 2px solid red;
background-color:green; 
}
h6{
border: 2px solid red;
background-color:brown; 
		
align-items: start;
}