body{
	margin:0;
	padding: 0;
	background color:yellow;
	overflow: hidden;
	text-align:center;
}
.header{
	background-color: black;
	padding:15px;
	box-shadow: 0 0 3px;
}

.header li{
	display:inline;
}